h3 + p {
  font-size: 1.1em;
}

h3 + ul {
  font-size: 1.1em;
}

#job-title {
  font-size: 2em;
}

#apply-img-container {
  position: relative;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

#apply-form {
  border: 3px solid black;
  border-radius: 10px;
  padding: 20px;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1690px;
  }
}
