#title_name {
  color: white;
}

#company-mission {
  background-color: #242628;
  color: white;
  padding: 0;
}

@media (min-width: 960px) {
  #title_name {
    font-size: 1.5rem;
  }
}

@media (max-width: 502px) {
  #title_name {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  #title_name {
    font-size: 1.3rem;
  }
}

@media (max-width: 405px) {
  #title_name {
    font-size: 1rem;
  }
}
