@mixin center-items {
  left: 50%;
  transform: translateX(-50%);
  padding: 5px;
}

#apply {
  position: relative;
  width: inherit;
  height: auto;
  //   background-color: lightsalmon;
}

.title-container {
  position: relative;
  @include center-items;
  width: 200px;
  height: auto;
  //   background-color: red;
}

.body-container {
  position: relative;
  @include center-items;
  width: 400px;
  //   background-color: red;
}

.button-container {
  position: relative;
  @include center-items;
  width: 150px;
}
