.info-section {
  left: 50%;
  width: 66%;
  height: 175px;
  background-color: red;
  margin-bottom: 30px;

  h2 {
    font-size: 2.5em;
  }
}

#info-title {
  text-align: center;
}

#info-body {
  text-align: center;
}
