$primary-color: #242628;
$secondary-color: #049ef4;

#tce-nav {
  background: $primary-color;
  color: white;
}

.nav-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-link-container {
  padding-right: 200px;
}
