#title_name {
  color: white;
}

#newsletter-container {
  position: relative;
}

#newsletter-title {
  position: relative;
  /* height: auto;
    width: auto; */
  top: -125px;
  left: 115px;
  color: white;
  font-weight: bold;
  font-size: 32px;
}

#team-img-container {
  position: relative;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.rounded-circle {
  filter: grayscale(100%);
}

.team-boxed .item img {
  max-width: 200px;
}

.box:hover > .rounded-circle {
  filter: grayscale(0%);
}

@media (max-width: 960px) {
  .rounded-circle {
    filter: grayscale(0%);
  }
}
