@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

#title_name {
  color: white;
}

#company-mission {
  background-color: #242628;
  color: white;
  padding: 0;
  height: 400px;
  overflow: hidden;
}

#company-mission-img {
  position: relative;
  top: -120px;
}

#dropdownMenuLink {
  color: rgba(255, 255, 255, 0.5);
}

#CTA:hover {
  cursor: pointer;
}

.basic-jumbotron {
  background-color: white;
}

#company-mision-statement {
  font-size: 24px;
}

@media (min-width: 960px) {
  #title_name {
    font-size: 1.5rem;
  }
}

@media (max-width: 502px) {
  #title_name {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  #title_name {
    font-size: 1.3rem;
  }
}

@media (max-width: 405px) {
  #title_name {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  .jumbotron {
    padding: 2rem 2rem;
  }
}
