.btn-neutral {
  color: white;
  background-color: #049ef4 !important;
  border-radius: 20px;
  margin-top: 20px;
  width: auto;
  transform: scale(2);
}

.btn-neutral:hover {
  transform: scale(2);
}

.gg-enter {
  display: inline-block;
}
