.header-image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: -1;
}
