#title_name {
  color: white;
}

a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
}

.nav-link {
  color: white !important;
}

.navbar-toggler-icon {
  fill: white !important;
}

.navbar-expand-lg .navbar-nav {
  flex-direction: row-reverse;
  // align-items: flex-end;
  width: 100%;
}

@media (max-width: 767.98px) {
  .navbar-collapse.collapsing,
  .navbar-collapse.show {
    padding: 1.5rem;
    border-radius: 0.375rem;
    // background: #fff;
    box-shadow: none;
    -webkit-animation: show-navbar-collapse 0.2s ease forwards;
    animation: show-navbar-collapse 0.2s ease forwards;
  }

  .navbar-collapse {
    width: calc(100% - 1.4rem);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050;
    /* margin: .7rem; */
    overflow-y: auto;
    height: auto !important;
    opacity: 0;
  }
}

ul {
  transform: rotate(0);

  > li {
    transform: rotate(180);
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav #nav-items {
    flex-direction: column;
    // align-items: flex-end;
    width: 100%;
  }
}

@media (max-width: 992px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: column;
    // align-items: flex-end;
    width: 100%;
  }
}

@media (max-width: 544px) {
  .navbar-brand {
    font-size: 0.8125em;
  }
}

@media (max-width: 430px) {
  .navbar {
    // margin-bottom: 5px;
    // flex-wrap: nowrap;
  }
  .navbar-brand {
    margin-bottom: 50px;
  }
  .navbar-toggler-icon {
    display: block;
    transform: translate(320px, -35px);
  }
}

@media (max-width: 380px) {
  .navbar {
    // margin-bottom: 5px;
    // flex-wrap: nowrap;
  }
  .navbar-brand {
    margin-bottom: 50px;
  }
  .navbar-toggler-icon {
    display: block;
    transform: translate(300px, -35px);
  }
}
